*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111827;
}

.book-card {
    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}





.book-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    background-color: #1f2937;
    color: white;
}

.book-modal.active {
    transform: translate(-50%, -50%);
}

.book-modal h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 3rem;
}

form > div div {
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pages {
    width: 50px;
}

form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea {
    height: 100px;
    resize: none; 
    border-radius: 10px;
}

label {
    font-size: 0.9rem;
}

form div:nth-child(3) {
    display: flex;
    justify-content: end;
}

input {
    border: none;
    border-radius: 5px;
    height: 25px;
    padding: 10px;
}

select {
    border: none;
    border-radius: 5px;
}

form button {
    width: 7rem;
    border: none;
    background-color: #4b5563;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

.opacity.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background-color: #030712;
}

